<html lang="en">
<body>
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top">Movie Collection</a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Now Playing</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="comingsoon">Coming Soon</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Classic</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="react-container" style="margin-top:150px;" class="d-flex justify-content-center">
    <div *ngIf="result==undefined" style="margin:50px">
      <span>Error loading movie details...</span>
    </div>
    <div *ngIf="result==null" class="d-flex justify-content-center">
      <div  class="spinner-border text-light" style="width: 100px; height: 100px!important" role="status">
        <span class="sr-only" style="color: white;">Loading...</span>
      </div>
      </div>
    <div *ngIf="result!=null">
      <div class="Site">
        <main class="SiteContent">
          <div>
            <div class="content movie-detail-container" itemtype="http://schema.org/Movie" itemscope="">
              <section class="Hero Hero--hasImage">
                <div class="Carousel-Slide-ContentWrapper--Hero">
                  <picture class="Carousel-Slide-Image">
                    <source sizes="(min-width: 768px) 100vw, 768px" media="(min-width: 768px)">
                    <img sizes="(min-width: 241px) and (max-width: 767px) 100vw, 767px" src="assets/img/movies/jc1.jpg"
                      alt="Jungle Cruise" itemprop="image">
                  </picture>
                  <div class="HeroContent">
                    <div class="HeroContent__wrap">
                      <div class="u-container">
                        <div class="row">
                          <div class="col-md-9 col-sm-10">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="MovieDetail" style="color: white!important;">
                <div><span style="font-size: 0px;"></span>
                  <div class="MovieGetTicketsBar-wrapper" style="top: 98px;">
                    <div class="u-container">
                      <div class="row">
                        <div class="MovieGetTicketsBar-content col-md-6 col-xs-7">
                          <h3 class="txt--capitalize" aria-labelledby="Title">Jungle Cruise</h3>
                          <div class="MovieGetTicketsBar-description">
                            <p class="txt--uppercase small" aria-labelledby="Runtime">2 hr 7 min</p>
                            <p class="txt--uppercase small" aria-labelledby="Rating">PG13</p>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-5">
                          <div class="movie--tickets-bar row">
                            <div class="movie--tickets-button col-md-6 col-xs-12"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="MovieDetail--content">
                  <div class="Intro-ctas">
                    <article class="Intro">
                      <style></style>
                      <div class="u-container u-cf">
                        <div class="row">
                          <div class="Intro-text">
                            <div>
                              <p itemprop="description" class="show-text show-text__truncate"
                                style="color: white!important;">Inspired by the famous
                                Disneyland theme park ride, Disney’s “Jungle Cruise” is an adventure-filled, rollicking
                                thrill-ride down the Amazon with wisecracking skipper Frank Wolff and intrepid
                                researcher Dr. Lily Houghton. Lily travels from London, England to the Amazon jungle and
                                enlists Frank’s questionable services to guide her downriver on La Quila—his
                                ramshackle-but-charming boat. Lily is determined to uncover an ancient tree with
                                unparalleled healing abilities—possessing the power to change the future of medicine.
                                Thrust on this epic quest together, the unlikely duo encounters innumerable dangers and
                                supernatural forces, all lurking in the deceptive beauty of the lush rainforest. But as
                                the secrets of the lost tree unfold, the stakes reach even higher for Lily and Frank and
                                their fate—and mankind’s—hangs in the balance.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div></div>
      </div>
    </div>
  </div>

</body>

</html>
